/* 
    Styling Page for M2_Project2: create a web page
*/

* {
    color: rgb(255, 255, 255);
}

#mainArea {
    background-image: url("images/wallpaper.jpeg");
    height: 100vh;
    width: 100%;
}

#mainAreaContent {
    text-align: center;
    display: block;
    align-items: center;
}