/* 
    Styling Page for M2_Project2: create a web page
*/

* {
    color: rgb(255, 255, 255);
}

#mainArea {
    background-image: url("images/wallpaper.jpeg");
    height: 100vh;
    width: 100%;
}
#mainArea > h1,
#mainArea > p,
#mainArea > button {
    display: flex;
    justify-content: center;    
}