/* 
    Styling Page for M2_Project2: create a web page
*/

* {
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
}

/* Nav styling*/
#Nav,
#Nav > .container {
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

header {
    background-image: url("images/wallpaper.jpeg");
    background-position: center;
    background-size: cover;
}

.navbar-brand,
.navbar-nav > li > a {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

#Nav > div > button {
    background-color: rgb(255, 255, 255);
}

#Nav > div > button > i {
    color: rgb(36, 36, 36) !important;
}
/* Main Area Styling*/
header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
}

#mainAreaContent > h1 {
    font-size: 40px;
    padding: 15px;
}

#mainAreaContent > p {
    font-size: 20px;
    color: rgb(184, 183, 183);
    padding: 15px;
}

#mainAreaContent > button {
    font-size: 15px;
    color: rgb(255, 255, 255);
    background-color: #9acd32;
}

/* 2nd Section Styling*/

#section2 {
    text-align: center;
    background-color: #9acd32;
    padding-top: 50px;
    padding-bottom: 50px;
}
#section2 > h4 {
    font-size: 40px;
}

#section2 > p {
    font-size: 20px;
    color: rgb(241, 241, 241);
}

/* 3rd Section Styling*/

#section3 {
    padding: 20px 20px;
    background-color: rgb(255, 255, 255);
}

#section3text {
    padding: 15px;
}

#mic {
    padding: 15px;
    border-radius: 75%;
    width: 100%;
}


#section3text > h2 {
    color: rgb(0, 0, 0);
    font-size: 40px;
}

#section3text > p {
    font-size: 25px;
    color: rgb(184, 183, 183);
}

#section3text > button {
    background-color: #9acd32;
    padding: 10px;
    border: none;
}

/* 4th Section Styling*/

#section4 {
    background-color: rgb(36, 36, 36);
}

#section4cont > div {
    padding: 30px 30px;
}

#section4img > img {
    padding: 15px;
    border-radius: 75%;
    width: 100%;
}

#section4text > h2 {
    font-size: 40px;
}

#section4text > p {
    font-size: 25px;
    color: rgb(184, 183, 183);
}

#section4text > button {
    padding: 10px;
}

/* 5th Section Styling*/

.im1, .im2, .im3 {
    background-size: cover;
    background-position: 50% 50%;
}

#image1 {
    background-image: url("images/writing.jpeg");
}

#image2 {
    background-image: url("images/concert.jpeg");
}

#image3 {
    background-image: url("images/pencil_sharpener.jpeg");
}

#image1 > h2,
#image2 > h2,
#image3 > h2 {
    font-size: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 80px;
}

/* 6th Section Styling*/

#section6 {
    text-align: center;
    padding: 50px;
}

#section6 > i {
    color: #9acd32;
}

#section6 > h4 {
    font-size: 50px;
    color: rgb(36, 36, 36);
}

#section6 > p{
    font-size: 30px;
    color: rgb(184, 183, 183);
}
#section6 > button {
    background-color: #9acd32;
    border: none;
    padding: 20px;
}

/* 7th Section/Footer Styling*/

footer {
    background-color: #9acd32;
    text-align: center;
}

#footer1 > .container {
    padding: 70px;
}

#footer1 > .container > h4,
#footer1 > .container > i,
#footer1 > .container > h6 {
    padding: 5px;
    font-size: 30px;
}

#footer2 {
    background-color: rgb(255, 255, 255);
    height: 100px;
    text-align: center;
}

#footer2 > h6 {
    color: rgb(196, 196, 196);
    padding: 50px;
    font-size: 20px;
}

@media screen and (min-width: 768px) {
    header {
        height: 100vh;
    }
    h1 {
        font-size: 80px !important; 
    }
    p {
        font-size: 30px !important; 
    }
    button {
        font-size: 20px !important; 
    }
  }